@page "/AddReminder"
@inject NavigationManager NavigationManager

<span>Latitude:<input id="_latitude" placeholder="Latitude" @bind="_latitude" />, Longitude:<input id="_longitude" placeholder="Longitude" @bind="_longitude" /></span>

<span>Message:<input id="_message" placeholder="Reminder message" @bind="_message"></span>

<span><button id="_doAdd" @onclick="Add">OK</button>&nbsp;<button @onclick="Cancel">Cancel</button></span>

@code {
    private void Add()
    {
        NavigationManager.NavigateTo("/");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

    private double? _latitude;
    private double? _longitude;
    private string? _message;
}