@page "/AddReminder"
@inject NavigationManager NavigationManager

<span>X:<input placeholder="X" @bind="_x" />, Y:<input placeholder="Y" @bind="_y" /></span>

<span><button @onclick="Add">OK</button>&nbsp;<button @onclick="Cancel">Cancel</button></span>

@code {
    private void Add()
    {
        NavigationManager.NavigateTo("/");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

    private double? _x;
    private double? _y;
}